[http.routers]

  [http.routers.media-glances]
    entryPoints = ["https"]
    rule = "Host(`glances-media.{{ domain_name }}`)"
    middlewares = ["monitoring-auth"]
    service = "media-glances"
    [http.routers.media-glances.tls]

  [http.routers.media-traefik]
    entryPoints = ["https"]
    rule = "Host(`traefik-media.{{ domain_name }}`)"
    middlewares = ["monitoring-auth"]
    service = "media-traefik"
    [http.routers.media-traefik.tls]

  [http.routers.media-deluge]
    entryPoints = ["https"]
    rule = "Host(`deluge.{{ domain_name }}`)"
    service = "media-deluge"
    [http.routers.media-deluge.tls]

  [http.routers.media-jackett]
    entryPoints = ["https"]
    rule = "Host(`jackett.{{ domain_name }}`)"
    service = "media-jackett"
    [http.routers.media-jackett.tls]

  [http.routers.media-jellyfin]
    entryPoints = ["https"]
    rule = "Host(`jellyfin.{{ domain_name }}`)"
    service = "media-jellyfin"
    [http.routers.media-jellyfin.tls]

  [http.routers.media-radarr]
    entryPoints = ["https"]
    rule = "Host(`radarr.{{ domain_name }}`)"
    service = "media-radarr"
    [http.routers.media-radarr.tls]

  [http.routers.media-sonarr]
    entryPoints = ["https"]
    rule = "Host(`sonarr.{{ domain_name }}`)"
    service = "media-sonarr"
    [http.routers.media-sonarr.tls]

  [http.routers.media-minecraft-map]
    entryPoints = ["https"]
    rule = "Host(`minecraft-map.{{ domain_name }}`)"
    service = "media-minecraft-map"
    [http.routers.media-minecraft-map.tls]

[http.services]

  [http.services.media-glances.LoadBalancer]
    passHostHeader = false
    [[http.services.media-glances.LoadBalancer.servers]]
      URL = "http://glances.{{ network.servers.media.host }}/"

  [http.services.media-traefik.LoadBalancer]
    passHostHeader = false
    [[http.services.media-traefik.LoadBalancer.servers]]
      URL = "http://traefik.{{ network.servers.media.host }}/"

  [http.services.media-deluge.LoadBalancer]
    passHostHeader = false
     [[http.services.media-deluge.LoadBalancer.servers]]
       URL = "http://deluge.{{ network.servers.media.host }}/"

  [http.services.media-jackett.LoadBalancer]
    passHostHeader = false
    [[http.services.media-jackett.LoadBalancer.servers]]
      URL = "http://jackett.{{ network.servers.media.host }}/"

  [http.services.media-jellyfin.LoadBalancer]
    passHostHeader = false
    [[http.services.media-jellyfin.LoadBalancer.servers]]
      URL = "http://jellyfin.{{ network.servers.media.host }}/"

  [http.services.media-radarr.LoadBalancer]
    passHostHeader = false
    [[http.services.media-radarr.LoadBalancer.servers]]
      URL = "http://radarr.{{ network.servers.media.host }}/"

  [http.services.media-sonarr.LoadBalancer]
    passHostHeader = false
    [[http.services.media-sonarr.LoadBalancer.servers]]
      URL = "http://sonarr.{{ network.servers.media.host }}/"

  [http.services.media-minecraft-map.LoadBalancer]
    passHostHeader = false
    [[http.services.media-minecraft-map.LoadBalancer.servers]]
      URL = "http://minecraft-map.{{ network.servers.media.host }}/"
