root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120

[Makefile]
indent_style = tab
indent_size = 1

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yml.j2,yaml,yaml.j2}]
indent_size = 2
max_line_length = off

[*.{toml,toml.j2}]
indent_size = 2
max_line_length = off

[*.{json,json.j2}]
indent_size = 2
max_line_length = off

[nftables.{conf,conf.j2}]
indent_style = tab
indent_size = 1
