Host media
  HostName {{ media_host }}
  Port {{ media_ssh }}
  IdentityFile ~/.ssh/poweroff_rsa
  User hass
Host relay_north
  HostName {{ relay_north_host }}
  Port {{ relay_north_ssh }}
  IdentityFile ~/.ssh/poweroff_rsa
  User hass
Host relay_south
  HostName {{ relay_south_host }}
  Port {{ relay_south_ssh }}
  IdentityFile ~/.ssh/poweroff_rsa
  User hass
