version: "3.7"

services:
  home-assistant:
    container_name: home-assistant
    image: "homeassistant/home-assistant:2020.12.5"
    restart: "unless-stopped"
    devices:
      - "/dev/zigbee:/dev/zigbee"
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ homeassistant_uid }}"
      PGID: "{{ homeassistant_gid }}"
      UMASK: "007"
      PACKAGES: "iputils"
    labels:
      avatar.subdomain: "home-assistant"
      traefik.docker.network: "automate"
      traefik.http.services.home-assistant.loadbalancer.server.port: 8123
      traefik.http.routers.home-assistant.entryPoints: "https"
    networks:
      automate:
      ups:
    ports:
      - "1400:1400" # Sonos
      - "1443:1443" # Sonos SSL
    volumes:
      - "{{ automate_appdata_dir }}/home-assistant/config:{{ homeassistant_container_config_path }}"
      - "{{ automate_appdata_dir }}/home-assistant/docker/run:/etc/services.d/home-assistant/run"
