version: "3.7"

services:
  home-assistant:
    container_name: home-assistant
    image: "homeassistant/home-assistant:2020.12.5"
    restart: "unless-stopped"
    devices:
      - "/dev/zigbee:/dev/zigbee"
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ homeassistant_uid }}"
      PGID: "{{ homeassistant_gid }}"
      UMASK: "007"
      PACKAGES: "iputils"
    labels:
      avatar.subdomain: "home-assistant"
      traefik.docker.network: "automate"
      traefik.http.services.home-assistant.loadbalancer.server.port: 8123
      traefik.http.routers.home-assistant.entryPoints: "https"
    networks:
      automate:
      ups:
    ports:
      - "1400:1400" # Sonos
      - "1443:1443" # Sonos SSL
    volumes:
      - "{{ automate_appdata_dir }}/home-assistant/config:{{ homeassistant_container_config_path }}"
      - "{{ automate_appdata_dir }}/home-assistant/docker/run:/etc/services.d/home-assistant/run"

  openzwave:
    container_name: openzwave
    image: "openzwave/ozwdaemon:allinone-latest"
    restart: "unless-stopped"
    devices:
      - "{{ openzwave_usb_path }}:{{ openzwave_usb_path }}"
    environment:
      TZ: "{{ timezone }}"
      MQTT_SERVER: "{{ openzwave_mqtt_server }}"
      MQTT_PORT: {{ openzwave_mqtt_port }}
      MQTT_TLS: "{{ openzwave_mqtt_tls }}"
      MQTT_USERNAME: "{{ openzwave_mqtt_username }}"
      MQTT_PASSWORD: "{{ openzwave_mqtt_password }}"
      USB_PATH: "{{ openzwave_usb_path }}"
      OZW_AUTH_KEY: "{{ openzwave_auth_key }}"
      OZW_NETWORK_KEY: "{{ openzwave_network_key }}"
      QT_LOGGING_RULES: "*.debug=false"
    labels:
      avatar.subdomain: "openzwave"
      traefik.docker.network: "automate"
      traefik.http.services.openzwave.loadbalancer.server.port: 7800
      traefik.http.routers.openzwave.entryPoints: "https"
    networks:
      automate:
    ports:
      - "127.0.0.1:1983:1983"
    security_opt:
      - seccomp:unconfined
    volumes:
      - "/srv/docker-apps/appdata/openzwave:/opt/ozw/config"

  appdata-backup:
    container_name: appdata-backup
    image: "bcardiff/rclone:latest"
    restart: "always"
    environment:
      TZ: "{{ timezone }}"
      CRON: "0 5 * * * /config/backup_acl.sh && "
      CRON_ABORT: "0 6 * * *"
      SYNC_SRC: "/appdata"
      SYNC_DEST: "{{ rclone_gce_key }}:{{ gce_backup_bucket }}"
      SYNC_OPTS: "-v -x -L --filter-from /config/filters.txt"
    networks:
      backups:
    volumes:
      - "{{ automate_appdata_dir }}:/appdata"
      - "{{ automate_appdata_dir }}/appdata-backup:/config"
