[http.routers]

  [http.routers.home-assistant-http]
    entryPoints = ["http"]
    rule = "Host(`home-assistant.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
    service = "home-assistant"
  [http.routers.home-assistant-https]
    entryPoints = ["https"]
    rule = "Host(`home-assistant.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "home-assistant"
    [http.routers.home-assistant-https.tls]

[http.services]

  [http.services.home-assistant.LoadBalancer]
    method = "wrr"
    [[http.services.home-assistant.LoadBalancer.servers]]
      URL = "http://172.222.0.1:35072/"
      Weight = 1
