[http.routers]

  [http.routers.media-glances-http]
    entryPoints = ["http"]
    rule = "Host(`glances-media.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-glances-https]
    entryPoints = ["https"]
    rule = "Host(`glances-media.{{ domain_name }}`)"
    middlewares = ["common", "monitoring-auth"]
    service = "media-glances"
    [http.routers.media-glances-https.tls]

  [http.routers.media-traefik-http]
    entryPoints = ["http"]
    rule = "Host(`traefik-media.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-traefik-https]
    entryPoints = ["https"]
    rule = "Host(`traefik-media.{{ domain_name }}`)"
    middlewares = ["common", "monitoring-auth"]
    service = "media-traefik"
    [http.routers.media-traefik-https.tls]

  [http.routers.media-deluge-http]
    entryPoints = ["http"]
    rule = "Host(`deluge.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-deluge-https]
    entryPoints = ["https"]
    rule = "Host(`deluge.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "media-deluge"
    [http.routers.media-deluge-https.tls]

  [http.routers.media-jackett-http]
    entryPoints = ["http"]
    rule = "Host(`jackett.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-jackett-https]
    entryPoints = ["https"]
    rule = "Host(`jackett.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "media-jackett"
    [http.routers.media-jackett-https.tls]

  [http.routers.media-plex-http]
    entryPoints = ["http"]
    rule = "Host(`plex.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-plex-https]
    entryPoints = ["https"]
    rule = "Host(`plex.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "media-plex"
    [http.routers.media-plex-https.tls]

  [http.routers.media-radarr-http]
    entryPoints = ["http"]
    rule = "Host(`radarr.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-radarr-https]
    entryPoints = ["https"]
    rule = "Host(`radarr.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "media-radarr"
    [http.routers.media-radarr-https.tls]

  [http.routers.media-sonarr-http]
    entryPoints = ["http"]
    rule = "Host(`sonarr.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-sonarr-https]
    entryPoints = ["https"]
    rule = "Host(`sonarr.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "media-sonarr"
    [http.routers.media-sonarr-https.tls]

  [http.routers.media-minecraft-map-http]
    entryPoints = ["http"]
    rule = "Host(`minecraft-map.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
  [http.routers.media-minecraft-map-https]
    entryPoints = ["https"]
    rule = "Host(`minecraft-map.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "media-minecraft-map"
    [http.routers.media-minecraft-map-https.tls]

[http.services]

  [http.services.media-glances.LoadBalancer]
     [[http.services.media-glances.LoadBalancer.servers]]
        url = "http://glances.{{ media_host }}/"

  [http.services.media-traefik.LoadBalancer]
     [[http.services.media-traefik.LoadBalancer.servers]]
        url = "http://traefik.{{ media_host }}/"

  [http.services.media-deluge.LoadBalancer]
     [[http.services.media-deluge.LoadBalancer.servers]]
        url = "http://deluge.{{ media_host }}/"

  [http.services.media-jackett.LoadBalancer]
     [[http.services.media-jackett.LoadBalancer.servers]]
        url = "http://jackett.{{ media_host }}/"

  [http.services.media-plex.LoadBalancer]
     [[http.services.media-plex.LoadBalancer.servers]]
        url = "http://plex.{{ media_host }}/"

  [http.services.media-radarr.LoadBalancer]
     [[http.services.media-radarr.LoadBalancer.servers]]
        url = "http://radarr.{{ media_host }}/"

  [http.services.media-sonarr.LoadBalancer]
     [[http.services.media-sonarr.LoadBalancer.servers]]
        url = "http://sonarr.{{ media_host }}/"

  [http.services.media-minecraft-map.LoadBalancer]
     [[http.services.media-minecraft-map.LoadBalancer.servers]]
        url = "http://minecraft-map.{{ media_host }}/"
