[http.routers]

  [http.routers.router_http]
    entryPoints = ["http"]
    rule = "Host(`router.{{ domain_name }}`)"
    middlewares = ["common", "redirect-https"]
    service = "router"
  [http.routers.router_https]
    entryPoints = ["https"]
    rule = "Host(`router.{{ domain_name }}`)"
    middlewares = ["common"]
    service = "router"
    [http.routers.router_https.tls]

[http.services]

  [http.services.router.LoadBalancer]
    method = "wrr"
    [[http.services.router.LoadBalancer.servers]]
      URL = "http://{{ router_ip }}/"
      Weight = 1
