version: "3.7"

x-timezone: &timezone "{{ timezone }}"

services:
  minecraft-overviewer:
    container_name: "minecraft-overviewer"
    build:
      context: "{{ docker_srv_dir }}/docker-images/minecraft-overviewer"
      args:
        PUID: {{ system_appdata_uid }}
        PGID: {{ system_data_gid }}
    image: "avatary/minecraft-overviewer"
    restart: "no"
    environment:
      TZ: *timezone
      MINECRAFT_VERSION: "{{ minecraft_version }}"
      RENDER_MAP: "true"
      RENDER_POI: "true"
    network_mode: "host"
    volumes:
      - "{{ minecraft_overviewer_dir }}/config.py:/home/minecraft/config.py:ro"
      - "{{ minecraft_data_dir }}/Ultimate:/home/minecraft/server/world:ro"
      - "{{ minecraft_map_dir }}:/home/minecraft/render"
