version: "3.7"

networks:
## NETWORKS: START
## NETWORKS: END
  public:
    driver: "bridge"
    name: "public"
    driver_opts:
      com.docker.network.bridge.name: "br-public"
    ipam:
      driver: "default"
      config:
        - subnet: "{{ docker_net_public }}"

services:
## SEVICES: START
## SEVICES: END
  proxy:
    container_name: proxy
    image: "traefik:2.3"
    restart: "unless-stopped"
    environment:
      TZ: "{{ timezone }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.api.rule: "Host(`traefik.{{ internal_hostname }}`)"
      traefik.http.routers.api.service: "api@internal"
    networks:
      public:
        ipv4_address: "{{ docker_ip_proxy }}"
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker_appdata_dir }}/traefik.toml:/traefik.toml:ro"

  glances:
    container_name: glances
    image: "avatary/glances:arm64-latest"
    build:
      context: "https://github.com/nicolargo/glances.git#master:docker-files/master"
    pid: "host"
    restart: "unless-stopped"
    environment:
      TZ: "{{ timezone }}"
      GLANCES_OPT: -w --enable-plugin sensors
    labels:
      traefik.enable: "true"
      traefik.http.routers.glances.entryPoints: "http"
      traefik.http.routers.glances.rule: "Host(`glances.{{ internal_hostname }}`)"
      traefik.http.services.glances.loadbalancer.server.port: 61208
    networks:
      public:
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  plant-gateway:
    container_name: plant-gateway
    image: "ghcr.io/chris-v/plantgateway:latest"
    network_mode: "host"
    restart: "unless-stopped"
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ docker_appdata_dir }}/plantgw:/config:ro"
