version: "3.7"

x-timezone: &timezone "{{ timezone }}"
x-proxy-enabled: &proxy-enabled
  traefik.enable: "true"
  traefik.docker.network: "public"

networks:
  public:
    driver: "bridge"
    name: "public"
    driver_opts:
      com.docker.network.bridge.name: "br-public"
    ipam:
      driver: "default"
      config:
        - subnet: "{{ docker_net_public }}"

services:
  proxy:
    container_name: proxy
    image: "traefik:alpine"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
    labels:
      <<: *proxy-enabled
      traefik.proxy.backend: "proxy"
      traefik.proxy.port: 8080
      traefik.proxy.frontend.rule: "Host:traefik.{{ internal_hostname }}"
    networks:
      public:
        ipv4_address: "{{ docker_ip_proxy }}"
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker_appdata_dir }}/traefik.toml:/traefik.toml:ro"

  glances:
    container_name: glances
    image: "avatary/glances:arm64-latest"
    build:
      # TODO: develop has future in 'requirements.txt', but Docker images don't install it.
      context: "https://github.com/Chris-V/glances.git#fix_dockerfile_pip:docker-files/devel-arm"
    pid: "host"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
      GLANCES_OPT: -w
    labels:
      <<: *proxy-enabled
      traefik.glances.backend: "glances"
      traefik.glances.port: 61208
      traefik.glances.frontend.rule: "Host:glances.{{ internal_hostname }}"
    networks:
      public:
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  plant-gateway:
    container_name: plant-gateway
    build:
      context: "{{ docker_apps_dir }}/docker-images/plant-gateway"
    image: "avatary/plant-gateway"
    network_mode: "host"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
    volumes:
      - "{{ docker_appdata_dir }}/plantgw:/config:ro"
