{% set driver_opts = {
  "driver_opts": {
    "com.docker.network.bridge.name": "br-" ~ fragment.name
  }
} if fragment.definition.driver == "bridge" else {} %}
version: "3.8"
networks:
  {{ fragment.name }}:
    {{
      { "name": fragment.name }
          | combine(driver_opts, recursive=True, list_merge='append_rp')
          | combine(fragment.definition, recursive=True, list_merge='prepend_rp')
          | to_nice_yaml(indent=2, width=9999)
          | indent(4)
    }}
services: {}
