{%- set ns = namespace(combined = {
  "version": compose_version,
  "services": {}
}) %}

{%- for file in fragment_files.results %}
{%- set fragment = file.content | b64decode | from_yaml %}
{%- set ns.combined = ns.combined | combine(fragment, recursive=True, list_merge='prepend_rp') %}
{%- endfor %}

{{- ns.combined | to_nice_yaml(indent=2, width=9999) }}
