[Global]
  CheckNewVersion = false
  SendAnonymousUsage = false

[Log]
  Level = "WARN"

[AccessLog]

[Providers]
  [Providers.File]
    Directory = "/traefik.d"
  [Providers.Docker]
    ExposedByDefault = false

[ServersTransport]
  MaxIdleConnsPerHost = 50
  [ServersTransport.ForwardingTimeouts]
    DialTimeout = 15
    ResponseHeaderTimeout = 5

[TLS]
  [TLS.Options]
    [TLS.Options.default]
      SniStrict = true
      MinVersion = "VersionTLS12"
      CipherSuites = [
        "TLS_CHACHA20_POLY1305_SHA256",
        "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
        "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305",
        "TLS_AES_256_GCM_SHA384",
      ]

[ACME]
  Email = "{{ acme_email }}"
  Storage = "/etc/traefik/acme/acme.json"
  KeyType = "RSA4096"
  OnHostRule = false

  [ACME.DNSChallenge]
    Resolvers = ["1.1.1.1:53", "1.0.0.1:53"]
    Provider = "gcloud"

  [[ACME.Domains]]
    Main = "*.{{ domain_name }}"
    SANs = ["{{ domain_name }}"]

[API]
  EntryPoint = "https"
  Dashboard = true

[EntryPoints]
  [EntryPoints.http]
    address = ":80"
    [EntryPoints.http.Transport]
      [EntryPoints.http.Transport.RespondingTimeouts]
        IdleTimeout = 5
  [EntryPoints.https]
    address = ":443"
    [EntryPoints.https.Transport]
      [EntryPoints.https.Transport.RespondingTimeouts]
        IdleTimeout = 300
  [EntryPoints.mqtts]
    address = ":8883"
