[Global]
  CheckNewVersion = false
  SendAnonymousUsage = false

[Log]
  Level = "WARN"

[AccessLog]

[Providers]
  [Providers.File]
    Directory = "/traefik.d"
  [Providers.Docker]
    DefaultRule = "Host(`{{ '{{ .Name }}' }}.docker.localhost`, `{{ '{{ .Name }}' }}.{{ domain_name }}`)"
    ExposedByDefault = false
    Network = "public"

[ServersTransport]
  MaxIdleConnsPerHost = 50
  [ServersTransport.ForwardingTimeouts]
    DialTimeout = 15
    ResponseHeaderTimeout = 5

[CertificatesResolvers.default.acme]
  Email = "{{ acme_email }}"
  Storage = "/etc/traefik/acme/acme.json"
  KeyType = "RSA4096"
  [CertificatesResolvers.default.acme.dnsChallenge]
    Provider = "gcloud"
    DelayBeforeCheck = 60
    Resolvers = ["1.1.1.1:53", "1.0.0.1:53"]

[EntryPoints]
  [EntryPoints.http]
    address = ":80"
    [EntryPoints.http.Transport]
      [EntryPoints.http.Transport.RespondingTimeouts]
        IdleTimeout = 5
    [EntryPoints.http.http]
      middlewares = ["common@file"]
      [EntryPoints.http.http.redirections]
        [EntryPoints.http.http.redirections.entryPoint]
          to = "https"
          scheme = "https"

  [EntryPoints.https]
    address = ":443"
    [EntryPoints.https.Transport]
      [EntryPoints.https.Transport.RespondingTimeouts]
        IdleTimeout = 300
    [EntryPoints.https.http]
      middlewares = ["common@file"]
      [EntryPoints.https.http.tls]
        certResolver = "default"
        [[EntryPoints.https.http.tls.domains]]
          main = "{{ domain_name }}"
          sans = ["*.{{ domain_name }}"]

  [EntryPoints.mqtts]
    address = ":8883"

[api]
  Dashboard = true
