#jinja2:variable_start_string:'<<', variable_end_string:'>>'
[Global]
  CheckNewVersion = false
  SendAnonymousUsage = false

[Log]
  Level = "ERROR"

[AccessLog]

[Providers]
  [Providers.Docker]
    constraints = "LabelRegex(`avatar.subdomain`, `[a-z0-9_-]+`)"
    defaultRule = "Host(`{{ index .Labels \"avatar.subdomain\"}}.<< traefik.domain >>`)"
    exposedByDefault = true
    network = "public"
    watch = true

[EntryPoints]
  [EntryPoints.http]
    Address = ":80"

    [EntryPoints.http.forwardedHeaders]
      TrustedIPs = << ['127.0.0.1/32', traefik.trusted_ips | default([])] | flatten | tojson >>

[api]
  Dashboard = true
