[{{ media_host }}]:{{ media_ssh }},[{{ media_ip }}]:{{ media_ssh }} {{ homeassistant_public_key }}
[{{ relay_south_host }}]:{{ relay_south_ssh }},[{{ relay_south_ip }}]:{{ relay_south_ssh }} {{ homeassistant_public_key }}
[{{ relay_north_host }}]:{{ relay_north_ssh }},[{{ relay_north_ip }}]:{{ relay_north_ssh }} {{ homeassistant_public_key }}
