Host router
  HostName {{ network.servers.router.ip }}
  Port {{ network.servers.router.ports.ssh }}
  IdentityFile {{ homeassistant_container_config_path }}/.secrets/id_router_homeassistant
  UserKnownHostsFile {{ homeassistant_container_config_path }}/.secrets/ssh_known_hosts
  User {{ router_ssh_user }}
Host media
  HostName {{ network.servers.media.host }}
  Port {{ network.servers.media.ports.ssh }}
  IdentityFile {{ homeassistant_container_config_path }}/.secrets/id_homeassistant
  UserKnownHostsFile {{ homeassistant_container_config_path }}/.secrets/ssh_known_hosts
  User {{ homeassistant_ssh_user }}
Host relay_north
  HostName {{ network.servers.relay_north.host }}
  Port {{ network.servers.relay_north.ports.ssh }}
  IdentityFile {{ homeassistant_container_config_path }}/.secrets/id_homeassistant
  UserKnownHostsFile {{ homeassistant_container_config_path }}/.secrets/ssh_known_hosts
  User {{ homeassistant_ssh_user }}
Host relay_south
  HostName {{ network.servers.relay_south.host }}
  Port {{ network.servers.relay_south.ports.ssh }}
  IdentityFile {{ homeassistant_container_config_path }}/.secrets/id_homeassistant
  UserKnownHostsFile {{ homeassistant_container_config_path }}/.secrets/ssh_known_hosts
  User {{ homeassistant_ssh_user }}
