[{{ network.servers.router.ip }}]:{{ network.servers.router.ports.ssh }} {{ network.servers.router.services.sshd.pub_key }}
[{{ network.servers.media.host }}]:{{ network.servers.media.ports.ssh }},[{{ network.servers.media.ip }}]:{{ network.servers.media.ports.ssh }} {{ network.servers.media.services.sshd.pub_key }}
[{{ network.servers.relay_north.host }}]:{{ network.servers.relay_north.ports.ssh }},[{{ network.servers.relay_north.ip }}]:{{ network.servers.relay_north.ports.ssh }} {{ network.servers.relay_north.services.sshd.pub_key }}
[{{ network.servers.relay_south.host }}]:{{ network.servers.relay_south.ports.ssh }},[{{ network.servers.relay_south.ip }}]:{{ network.servers.relay_south.ports.ssh }} {{ network.servers.relay_south.services.sshd.pub_key }}
