version: "3.7"

networks:
  elastic:
    driver: "bridge"
    name: "elastic"
    driver_opts:
      com.docker.network.bridge.name: "br-elastic"
    ipam:
      driver: "default"
      config:
        - subnet: "{{ docker_net_elastic }}"

  public:
    external:
      name: "public"

volumes:
  elasticsearch-data:
    driver: "local"
  filebeat-data:
    driver: "local"
  journalbeat-data:
    driver: "local"
  kibana-data:
    driver: "local"
  metricbeat-data:
    driver: "local"

services:
  elasticsearch:
    container_name: elasticsearch
    restart: "unless-stopped"
    image: "docker.elastic.co/elasticsearch/elasticsearch:7.2.0"
    environment:
      ES_JAVA_OPTS: "-Xms512m -Xmx512m -Des.enforce.bootstrap.checks=true"
    labels:
      traefik.enable: "true"
      traefik.docker.network: "elastic"
      traefik.http.routers.elasticsearch.entryPoints: "https"
      traefik.http.routers.elasticsearch.rule: "Host(`elasticsearch.{{ domain_name }}`)"
      traefik.http.routers.elasticsearch.middlewares: "common@file, whitelist-home@file"
      traefik.http.routers.elasticsearch.tls: "true"
      traefik.http.services.elasticsearch.loadbalancer.server.port: 9200

      co.elastic.logs/enabled: "true"
      co.elastic.logs/module: "elasticsearch"
    networks:
      elastic:
      public:
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "elasticsearch-data:/usr/share/elasticsearch/data"
      - "{{ docker_appdata_dir }}/elasticsearch/elasticsearch.keystore:/usr/share/elasticsearch/config/elasticsearch.keystore:ro"
      - "{{ docker_appdata_dir }}/elasticsearch/roles.yml:/usr/share/elasticsearch/config/roles.yml:ro"
      - "{{ docker_appdata_dir }}/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro"

  kibana:
    container_name: kibana
    restart: "unless-stopped"
    image: "docker.elastic.co/kibana/kibana:7.2.0"
    depends_on:
      - "elasticsearch"
    user: "1000:0"
    labels:
      traefik.enable: "true"
      traefik.docker.network: "elastic"
      traefik.http.routers.kibana_https.entryPoints: "https"
      traefik.http.routers.kibana_https.rule: "Host(`kibana.{{ domain_name }}`)"
      traefik.http.routers.kibana_https.middlewares: "common@file"
      traefik.http.routers.kibana_https.tls: "true"
      traefik.http.services.kibana.loadbalancer.server.port: 5601

      co.elastic.logs/enabled: "true"
      co.elastic.logs/module: "kibana"
    networks:
      elastic:
      public:
    volumes:
      - "kibana-data:/usr/share/kibana/data"
      - "{{ docker_appdata_dir }}/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro"

  filebeat:
    container_name: filebeat
    restart: "unless-stopped"
    image: "docker.elastic.co/beats/filebeat:7.2.0"
    command: "-e -strict.perms=false"
    user: "root"
    depends_on:
      - "elasticsearch"
    networks:
      elastic:
    volumes:
      - "filebeat-data:/usr/share/filebeat/data"
      - "{{ docker_appdata_dir }}/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro"
      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  metricbeat:
    container_name: metricbeat
    restart: "unless-stopped"
    image: "docker.elastic.co/beats/metricbeat:7.2.0"
    command: "-e -strict.perms=false -e -system.hostfs=/hostfs"
    user: "root"
    depends_on:
      - "elasticsearch"
    networks:
      elastic:
    volumes:
      - "metricbeat-data:/usr/share/metricbeat/data"
      - "{{ docker_appdata_dir }}/metricbeat/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/proc:/hostfs/proc:ro"
      - "/:/hostfs:ro"

  journalbeat:
    container_name: journalbeat
    restart: "unless-stopped"
    image: "docker.elastic.co/beats/journalbeat:7.2.0"
    command: "-e -strict.perms=false"
    user: "root"
    depends_on:
      - "elasticsearch"
    networks:
      elastic:
    volumes:
      - "journalbeat-data:/usr/share/journalbeat/data"
      - "{{ docker_appdata_dir }}/journalbeat/journalbeat.yml:/usr/share/journalbeat/journalbeat.yml:ro"
      - "/var/log/journal:/var/log/journal:ro"
      - "/etc/machine-id:/etc/machine-id:ro"
      - "/run/systemd:/run/systemd:ro"
      - "/etc/hostname:/etc/hostname:ro"
