#!/usr/bin/env bash

docker_compose_file="{{ docker_srv_dir }}/docker-compose.yml"
docker_stop_timeout=30
backup_owner="docker-appdata:docker-appdata"
backup_src="$(basename {{ docker_appdata_dir }})"
backup_dir="{{ docker_srv_dir }}/backups"
backup_file="${backup_dir}/$(date -Iseconds).tar.gz"

mkdir -p "${backup_dir}"
chown ${backup_owner} "${backup_dir}"
chmod 770 "${backup_dir}"

docker-compose -f "${docker_compose_file}" stop -t ${docker_stop_timeout}

tar \
    --gzip \
    --create \
    --verbose \
    --preserve-permissions \
    --file="${backup_file}" \
    --directory="{{ docker_appdata_dir }}/.." \
    --exclude="*.bak" \
    --exclude="*.conf~" \
    --exclude="*.db-shm" \
    --exclude="*.db-wal" \
    --exclude="*.log" \
    --exclude="*.pid" \
    --exclude="log.txt" \
    --exclude="logs.db" \
    --exclude="${backup_src}/deluge/*.state" \
    --exclude="${backup_src}/deluge/state" \
    --exclude="${backup_src}/sonarr/Backups" \
    --exclude="${backup_src}/sonarr/logs" \
    --exclude="${backup_src}/radarr/Backups" \
    --exclude="${backup_src}/radarr/logs" \
    --exclude="${backup_src}/plex/Library/Application Support/Plex Media Server/Cache" \
    --exclude="${backup_src}/plex/Library/Application Support/Plex Media Server/Codecs" \
    --exclude="${backup_src}/plex/Library/Application Support/Plex Media Server/Crash Reports" \
    --exclude="${backup_src}/plex/Library/Application Support/Plex Media Server/Logs" \
    --exclude="${backup_src}/plex/Library/Application Support/Plex Media Server/Plug-in Support" \
    --exclude="${backup_src}/plex/Library/Application Support/Plex Media Server/Plug-ins" \
    "${backup_src}"

chown ${backup_owner} "${backup_file}"
chmod 660 "${backup_file}"

# TODO: Restart services on success AND error
docker-compose -f "${docker_compose_file}" start
