Host media
  HostName {{ media_host }}
  Port {{ media_ssh }}
  IdentityFile {{ homeassistant_poweroff_key }}
  User homeassistant
Host relay_north
  HostName {{ relay_north_host }}
  Port {{ relay_north_ssh }}
  IdentityFile {{ homeassistant_poweroff_key }}
  User homeassistant
Host relay_south
  HostName {{ relay_south_host }}
  Port {{ relay_south_ssh }}
  IdentityFile {{ homeassistant_poweroff_key }}
  User homeassistant
