name: "{{ inventory_hostname }}"

setup:
  dashboards.enabled: false
  template:
    enabled: true
    overwrite: true
    settings.index:
      number_of_shards: 1
      number_of_replicas: 0
  ilm:
    enabled: true
    check_exists: false
    overwrite: false
    policy_name: avatar-logs
    rollover_alias: "journalbeat-{{ elastic.hosts[inventory_hostname].username }}-7.2.0"
    pattern: "000001"

logging:
  level: "warning"
  to_files: false
  metrics.enabled: false

output.elasticsearch:
  hosts: "{{ elastic.hostname }}"
  username: "{{ elastic.hosts[inventory_hostname].username }}"
  password: "{{ elastic.hosts[inventory_hostname].password }}"

journalbeat.inputs:
  - paths: []
    include_matches:
      - "_TRANSPORT=kernel"
      - "_SYSTEMD_UNIT=docker.service"
      - "_SYSTEMD_UNIT=sshd.service"
    processors:
      - if.equals.systemd.transport: "kernel"
        then:
          - if.regexp.message: ": IN=.* OUT=.*"
            then:
              - add_fields:
                  target: ""
                  fields:
                    log.source_name: "nft"
              - dissect:
                  target_prefix: "nft"
                  tokenizer: '%message: IN=%{in} OUT=%{OUT} %{fields}'
            else:
              # TODO: Drop events for now.
              #  Tracking for outstanding improvements... https://github.com/elastic/beats/issues/8323
              - drop_event: {}
        else:
          - dissect:
              when.equals:
                systemd.unit: "docker.service"
              target_prefix: ""
              tokenizer: 'time="%{}" level=%{log.level} %{dockerd.fields}'
          - drop_event:
              when.and:
                - equals: { systemd.unit: "docker.service" }
                - equals: { log.level: "info" }

processors:
  - copy_fields.fields:
      - from: "systemd.unit"
        to: "log.source_name"
