[Global]
  CheckNewVersion = false
  SendAnonymousUsage = false

[Log]
  Level = "ERROR"

[AccessLog]

[Providers]
  [Providers.Docker]
    DefaultRule = "Host(`{{ '{{ .Name }}' }}.docker.localhost`, `{{ '{{ .Name }}' }}.{{ internal_hostname }}`)"
    ExposedByDefault = false
    Network = "public"

[EntryPoints]
  [EntryPoints.http]
    Address = ":80"

    [EntryPoints.http.forwardedHeaders]
      TrustedIPs = {{ (['127.0.0.1/32'] + traefik.entrypoints.trusted_ips) | tojson }}

[api]
  Dashboard = true
