name: "{{ inventory_hostname }}"

setup:
  dashboards.enabled: false
  template:
    enabled: true
    overwrite: true
    settings.index:
      number_of_shards: 1
      number_of_replicas: 0
  ilm:
    enabled: true
    check_exists: false
    overwrite: false
    policy_name: avatar-logs
    rollover_alias: "filebeat-{{ elastic.hosts[inventory_hostname].username }}-7.2.0"
    pattern: "000001"

logging:
  level: "warning"
  to_files: false
  metrics.enabled: false

output.elasticsearch:
  hosts: "{{ elastic.hostname }}"
  username: "{{ elastic.hosts[inventory_hostname].username }}"
  password: "{{ elastic.hosts[inventory_hostname].password }}"

filebeat.autodiscover.providers:
  - type: "docker"
    hints.enabled: true
    hints.default_config.enabled: false

processors:
  - copy_fields.fields:
      - from: "container.name"
        to: "log.source_name"
