version: "3.7"

x-timezone: &timezone "{{ timezone }}"
x-proxy-enabled: &proxy-enabled
  traefik.enable: "true"

networks:
  public:
    driver: "bridge"
    name: "public"
    driver_opts:
      com.docker.network.bridge.name: "br-public"
    ipam:
      driver: "default"
      config:
        - subnet: "{{ docker_net_public }}"

  backups:
    driver: "bridge"
    name: "backups"
    driver_opts:
      com.docker.network.bridge.name: "br-backups"
    ipam:
      driver: "default"
      config:
        - subnet: "{{ docker_net_backups }}"

  glances:
    driver: "bridge"
    name: "glances"
    driver_opts:
      com.docker.network.bridge.name: "br-glances"
    ipam:
      driver: "default"
      config:
        - subnet: "{{ docker_net_glances }}"

  ups:
    driver: "bridge"
    name: "ups"
    driver_opts:
      com.docker.network.bridge.name: "br-ups"
    ipam:
      driver: "default"
      config:
        - subnet: "{{ docker_net_ups }}"

services:
  proxy:
    container_name: proxy
    image: "traefik:2.2"
    restart: "unless-stopped"
    depends_on:
      - "error-pages"
    environment:
      TZ: *timezone
      GCE_SERVICE_ACCOUNT_FILE: "/etc/traefik/acme/gce_service_account.json"
    labels:
      <<: *proxy-enabled
      traefik.http.routers.api.entryPoints: "https"
      traefik.http.routers.api.rule: "Host(`traefik-automate.{{ domain_name }}`)"
      traefik.http.routers.api.middlewares: "monitoring-auth@file"
      traefik.http.routers.api.service: "api@internal"
      traefik.http.routers.api.tls: "true"

      co.elastic.logs/enabled: "true"
      co.elastic.logs/module: "traefik"
    extra_hosts:
      - "router:{{ router_ip }}"
    networks:
      glances:
      public:
        ipv4_address: "{{ docker_ip_proxy }}"
    ports:
      - "80:80"
      - "443:443"
      - "8883:8883"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker_appdata_dir }}/traefik/traefik.toml:/traefik.toml:ro"
      - "{{ docker_appdata_dir }}/traefik/traefik.d:/traefik.d:ro"
      - "{{ docker_appdata_dir }}/traefik/acme:/etc/traefik/acme"

  error-pages:
    container_name: error-pages
    image: "nginx:alpine"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
    labels:
      <<: *proxy-enabled
      traefik.http.services.error-pages.loadbalancer.server.port: 80
      traefik.http.routers.error-pages.entryPoints: "https"
      traefik.http.routers.error-pages.rule: "HostRegexp(`{catchall:.+}`)"
      traefik.http.routers.error-pages.priority: 1
      traefik.http.routers.error-pages.tls: "true"
    networks:
      public:
    volumes:
      - "/srv/www/error_pages:/usr/share/nginx/html:ro"

  home-assistant:
    container_name: home-assistant
    image: "homeassistant/home-assistant:0.107.7"
    restart: "unless-stopped"
    depends_on:
      - "apcupsd"
      - "mosquitto"
    devices:
      - "/dev/zwave:/dev/zwave"
      - "/dev/zigbee:/dev/zigbee"
    environment:
      TZ: *timezone
      PUID: "{{ homeassistant_uid }}"
      PGID: "{{ homeassistant_gid }}"
      UMASK: "007"
      PACKAGES: "iputils"
    labels:
      <<: *proxy-enabled
      traefik.http.services.home-assistant.loadbalancer.server.port: 8123
      traefik.http.routers.home-assistant.entryPoints: "https"
      traefik.http.routers.home-assistant.rule: "Host(`home-assistant.{{ domain_name }}`)"
      traefik.http.routers.home-assistant.tls: "true"

      co.elastic.logs/enabled: "true"
      co.elastic.logs/include_lines: "[a-zA-Z0-9]+"
      co.elastic.logs/exclude_lines: '(linuxserver\.io|accept donations)'
      co.elastic.logs/multiline.match: "after"
      co.elastic.logs/multiline.pattern: "^  "
      co.elastic.logs/processors.1.dissect.tokenizer: "%{} %{} %{level} (%{thread}) [%{component}] %{message}"
      co.elastic.logs/processors.1.dissect.target_prefix: "homeassistant"
      co.elastic.logs/processors.2.copy_fields.ignore_missing: "true"
      co.elastic.logs/processors.2.copy_fields.fields.0.from: "homeassistant.level"
      co.elastic.logs/processors.2.copy_fields.fields.0.to: "log.level"
    networks:
      public:
      ups:
    ports:
      - "1400:1400"
    volumes:
      - "{{ docker_appdata_dir }}/home-assistant/config:{{ homeassistant_container_config_path }}"
      - "{{ docker_appdata_dir }}/home-assistant/openzwave/config:/openzwave/config"
      - "{{ docker_appdata_dir }}/home-assistant/s6/setup-and-run:/etc/services.d/home-assistant/run"

  mosquitto:
    container_name: mosquitto
    image: "eclipse-mosquitto:latest"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
    labels:
      <<: *proxy-enabled
      traefik.tcp.services.mosquitto.loadbalancer.server.port: 1883
      traefik.tcp.routers.mosquitto.entryPoints: "mqtts"
      traefik.tcp.routers.mosquitto.rule: "HostSNI(`mqtt.{{ domain_name }}`)"
      traefik.tcp.routers.mosquitto.tls: "true"
      traefik.tcp.routers.mosquitto.tls.certresolver: "default"
      traefik.tcp.routers.mosquitto.tls.domains[0].main: "{{ domain_name }}"
      traefik.tcp.routers.mosquitto.tls.domains[0].sans: "*.{{ domain_name }}"

      co.elastic.logs/enabled: "true"
    networks:
      public:
    expose:
      - 1883
    volumes:
      - "{{ docker_appdata_dir }}/mosquitto/config:/mosquitto/config:ro"
      - "{{ docker_appdata_dir }}/mosquitto/data:/mosquitto/data"

  apcupsd:
    container_name: apcupsd
    restart: "unless-stopped"
    image: "gersilex/apcupsd:latest"
    healthcheck:
      test: "/sbin/apcaccess status | grep -q 'STATUS *: ONLINE' || exit 1"
      interval: 30s
      timeout: 5s
      retries: 5
    devices:
      - "/dev/ups:/dev/usb/hiddev0"
    environment:
      TZ: *timezone
    expose:
      - 3551
    labels:
      co.elastic.logs/enabled: "true"
    networks:
      ups:
    volumes:
      - "{{ docker_appdata_dir }}/apcupsd/apcupsd.conf:/etc/apcupsd/apcupsd.conf:ro"

  glances:
    container_name: glances
    image: "nicolargo/glances:latest-alpine"
    pid: "host"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
      GLANCES_OPT: -w
    labels:
      <<: *proxy-enabled
      traefik.docker.network: "glances"
      traefik.http.services.glances.loadbalancer.server.port: 61208
      traefik.http.routers.glances.entryPoints: "https"
      traefik.http.routers.glances.rule: "Host(`glances-automate.{{ domain_name }}`)"
      traefik.http.routers.glances.middlewares: "monitoring-auth@file"
      traefik.http.routers.glances.tls: "true"

      co.elastic.logs/enabled: "true"
    networks:
      glances:
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  appdata-backup:
    container_name: appdata-backup
    image: "bcardiff/rclone:latest"
    restart: "always"
    environment:
      TZ: *timezone
      CRON: "0 5 * * * /config/backup_acl.sh && "
      CRON_ABORT: "0 6 * * *"
      SYNC_SRC: "/appdata"
      SYNC_DEST: "{{ rclone_gce_key }}:{{ gce_backup_bucket }}"
      SYNC_OPTS: "-v -x -L --filter-from /config/filters.txt"
    labels:
      co.elastic.logs/enabled: "true"
      co.elastic.logs/include_lines: "(error|warn|fail|INFO  : |INFO: Starting|Transferred:|Errors:|Checks:|Elapsed time:)"
      co.elastic.logs/multiline.match: "after"
      co.elastic.logs/multiline.max_lines: 6
      co.elastic.logs/multiline.pattern: "^(Transferred|Errors|Checks|Elapsed time):"
    networks:
      backups:
    volumes:
      - "{{ docker_appdata_dir }}:/appdata"
      - "{{ docker_appdata_dir }}/appdata-backup:/config"
