version: "3.7"

x-timezone: &timezone "{{ timezone }}"
x-proxy-enabled: &proxy-enabled
  traefik.enable: "true"
  traefik.docker.network: "docker-apps_public"

networks:
  ups:
    driver: "bridge"
  public:
    driver: "bridge"
    # Until direct host access is not required (hass in docker)
    ipam:
      driver: default
      config:
        - subnet: "172.222.0.0/16"

services:
  proxy:
    container_name: proxy
    image: "traefik:2.0-alpine"
    restart: "unless-stopped"
    depends_on:
      - "proxy_error_pages"
    environment:
      TZ: *timezone
      GCE_SERVICE_ACCOUNT_FILE: "/traefik.d/gce_service_account.json"
    labels:
      <<: *proxy-enabled
      traefik.http.services.proxy.loadbalancer.server.port: 8080
      traefik.http.routers.proxy_http_internal.entryPoints: "http"
      traefik.http.routers.proxy_http_internal.rule: "Host(`traefik.{{ internal_hostname }}`)"
      traefik.http.routers.proxy_http_internal.middlewares: "file.common"
      traefik.http.routers.proxy_http_internal.service: "proxy"
      traefik.http.routers.proxy_http.entryPoints: "http"
      traefik.http.routers.proxy_http.rule: &traefik_router_rule "Host(`traefik-automate.{{ domain_name }}`)"
      traefik.http.routers.proxy_http.middlewares: "file.common, file.redirect-https"
      traefik.http.routers.proxy_https.entryPoints: "https"
      traefik.http.routers.proxy_https.rule: *traefik_router_rule
      traefik.http.routers.proxy_https.middlewares: "file.common, file.monitoring-auth"
      traefik.http.routers.proxy_https.service: "proxy"
      traefik.http.routers.proxy_https.tls: "true"
    networks:
      public:
    ports:
      - "80:80"
      - "443:443"
      - "8883:8883"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker_appdata_dir }}/traefik/traefik.toml:/traefik.toml:ro"
      - "{{ docker_appdata_dir }}/traefik/traefik.d:/traefik.d:ro"
      - "{{ docker_appdata_dir }}/traefik/acme:/etc/traefik/acme"

  proxy_error_pages:
    container_name: error_pages
    image: "nginx:stable-alpine"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
    labels:
      <<: *proxy-enabled
      traefik.http.services.error_pages.loadbalancer.server.port: 80
      traefik.http.routers.error_pages_http.entryPoints: "http"
      traefik.http.routers.error_pages_http.rule: &error_pages_router_rule "HostRegexp(`{catchall:.*}`)"
      traefik.http.routers.error_pages_http.priority: 1
      traefik.http.routers.error_pages_http.middlewares: "file.common, file.redirect-https"
      traefik.http.routers.error_pages_https.entryPoints: "https"
      traefik.http.routers.error_pages_https.rule: *error_pages_router_rule
      traefik.http.routers.error_pages_https.priority: 1
      traefik.http.routers.error_pages_https.middlewares: "file.common"
      traefik.http.routers.error_pages_https.service: "error_pages"
      traefik.http.routers.error_pages_https.tls: "true"
    networks:
      public:
    volumes:
      - "/srv/www/error_pages:/usr/share/nginx/html:ro"

  mosquitto:
    container_name: mosquitto
    image: "eclipse-mosquitto:latest"
    restart: "unless-stopped"
    environment:
      TZ: *timezone
    labels:
      <<: *proxy-enabled
      traefik.tcp.services.mosquitto.loadbalancer.server.port: 1883
      traefik.tcp.routers.mosquitto.entryPoints: "mqtts"
      traefik.tcp.routers.mosquitto.rule: "HostSNI(`mqtt.{{ domain_name }}`)"
      traefik.tcp.routers.mosquitto.service: "mosquitto"
      traefik.tcp.routers.mosquitto.tls: "true"
    networks:
      public:
    volumes:
      - "{{ docker_appdata_dir }}/mosquitto/config:/mosquitto/config:ro"
      - "{{ docker_appdata_dir }}/mosquitto/data:/mosquitto/data"

  apcupsd:
    container_name: apcupsd
    restart: "unless-stopped"
    image: "avatary/apcupsd:aarch64"
    build:
      context: "git@github.com:gersilex/apcupsd-docker.git#master"
    devices:
      - "/dev/ups:/dev/usb/hiddev0"
    environment:
      TZ: *timezone
    expose:
      - 3551
    networks:
      ups:
    ports:
      # TODO: remove port mapping when HASS is dockerized and uses the ups network
      - "3551:3551"
    volumes:
      - "{{ docker_appdata_dir }}/apcupsd/apcupsd.conf:/etc/apcupsd/apcupsd.conf:ro"
